<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from themesbox.in/admin-templates/orbiter/html/light-vertical/user-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 28 Jan 2022 08:46:25 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Orbiter is a bootstrap minimal & clean admin template">
    <meta name="keywords" content="admin, admin panel, admin template, admin dashboard, responsive, bootstrap 4, ui kits, ecommerce, web app, crm, cms, html, sass support, scss">
    <meta name="author" content="Themesbox">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Orbiter - Bootstrap Minimal & Clean Admin Template</title>
    <!-- Fevicon -->
    <link rel="shortcut icon" href="~/frontadmin/assets/images/favicon.ico">
    <!-- Start css -->
    <link href="~/frontadmin/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/frontadmin/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="~/frontadmin/assets/css/style.css" rel="stylesheet" type="text/css">
    <!-- End css -->
</head>
<body class="vertical-layout">
    <!-- Start Containerbar -->
    <div id="containerbar" class="containerbar authenticate-bg">
        <!-- Start Container -->
        @RenderBody()
              <!-- End Container -->
    </div>
    <!-- End Containerbar -->
    <!-- Start js -->        
    <script src="~/frontadmin/assets/js/jquery.min.js"></script>
    <script src="~/frontadmin/assets/js/popper.min.js"></script>
    <script src="~/frontadmin/assets/js/bootstrap.min.js"></script>
    <script src="~/frontadmin/assets/js/modernizr.min.js"></script>
    <script src="~/frontadmin/assets/js/detect.js"></script>
    <script src="~/frontadmin/assets/js/jquery.slimscroll.js"></script>
    <!-- End js -->
</body>

<!-- Mirrored from themesbox.in/admin-templates/orbiter/html/light-vertical/user-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 28 Jan 2022 08:46:25 GMT -->
</html>